.divPerso {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 0 10%;
}

.btnPerso {
  border: none;
  margin-right: 2em;
  border-radius: 0.6em;
  padding: 1em 1em;
}

.btnPerso:focus {
  color: black;
}

.text-center {
  margin-top: 3em;
}
.card-header {
  cursor: pointer;
  background-color: transparent !important;
  border-bottom: none !important;
}

#accordion,
#accordionAttentes,
#accordionTraitees {
  margin-bottom: 2em;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 0 10%;
}

.card {
  border-radius: 20px;
}

/*
.card-body {
  border-top: black solid 1px;
}
*/

.dateCand {
  text-align: right;
  display: inline-block;
}

.nameCand {
  display: inline-block;
  text-align: left;
  margin-right: 30%;
}

/* Pour empêcher les animations de toggle */
.Admin .collapsing {
  transition: none;
}

/* CSS des badges pour les candidatures */
.ml-3 {
  font-size: 12px !important;
  font-weight: 900 !important;
  padding: 8px 8px;
}
