.divPerso {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 0 10%;
}

/* CSS Utiliser par tous les boutons de l'appli acctuellement à changer !!!! */
.btnPerso {
  border: none;
  margin-right: 2em;
  border-radius: 0.6em;
  padding: 1em 1em;
}

.btnCandidature {
  border: none;
  margin-right: 2em;
  border-radius: 30px;
}

.btnPerso:focus {
  color: black;
}

.text-center {
  margin-top: 3em;
}
.card-header {
  cursor: pointer;
  background-color: transparent !important;
  border-bottom: none !important;
}

#accordion,
#accordionAttentes,
#accordionTraitees {
  margin-bottom: 2em;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 10%;
}

.card {
  border-radius: 20px;
}

.dateCand {
  text-align: right;
  display: inline-block;
}

.nameCand {
  display: inline-block;
  text-align: left;
  margin-right: 30%;
}

/* Pour empêcher les animations de toggle */
.Admin .collapsing {
  transition: none;
}

/* CSS des badges pour les candidatures */
.ml-3 {
  font-size: 12px !important;
  font-weight: 900 !important;
  padding: 8px 8px;
}

.btnSA {
  padding: 0.8em 0.8em !important;
}

/* CSS des boutons de téléchargement des fichiers */
.FileButton {
  font-size: 0.7rem !important;
  padding: 0.8rem 1.2rem !important;
}

#modalLRForm {
  text-align: left !important;
}
