.divPerso {
    width: 100%;
    height: 100%;
    text-align: center;
    color:white;
    padding: 0 10%;
}

.btn {
    border: none;
    margin-right: 2em;
    border-radius: 0.6em;
    padding: 1em 1em;
}

.btn:focus {
    color:black;
}

.text-center {
    margin-top: 3em;
}
.card-header {
    cursor: pointer;
    background-color: transparent !important;
    border-bottom: none !important;
}

#accordion {
    margin-bottom: 2em;
    width: 100%;
    height: 100%;
    text-align: center;
    color:white;
    padding: 0 10%;
}

.card {
    border-radius: 20px;
}

.card-body {
    border-top: black solid 1px;
}

.collapse .btn {
    margin-bottom: 1em;
}