.divPerso {
    width: 100%;
    height: 100%;
    text-align: center;
    color:white;
    border-radius: 30px;
    padding: 0 10%;
}

.btn {
    border: none;
    margin-right: 2em;
    border-radius: 0.6em;
    padding: 1em 1em;
}

.btn:focus {
    color:black;
}

.text-center {
    margin-top: 3em;
}
.card-header, #collapseOne {
    cursor: pointer;
}