/* CSS pour le design du card contenant les informations */
.CardTitle {
  color: #1a8fff;
}

.CardBody {
  border-top: 2px solid #1a8fff;
  border-bottom: 2px solid #1a8fff;
}

.CardPerso {
  width: 70%;
  padding: 2em 3em 2em 3em;
}

.CloseButton,
.SaveButton {
  border-radius: 30px;
  margin-top: 1.5em !important;
}

.CardText {
  text-align: center;
}
